Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build/
config.log
config.status
configure
*.tar.gz
src/.deps/
src/Makefile
src/Makefile.in
src/config.h*
src/matrixgl
src/stamp-h1
docs/stamp-vti
docs/*.html
docs/*.info
docs/*.toc
docs/*.tp
docs/*.vr
docs/*.ky
docs/*.fn
docs/*.cp
docs/*.cps
docs/*.aux
docs/*.log
docs/*.pdf
docs/*.pg
docs/*.ps
docs/*.dvi
docs/version.texi
*.o
bug_report
