Source: matrixgl
Section: games
Priority: extra
Maintainer: Yves Fischer <yvesf-debian@xapek.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://starchive.cs.umanitoba.ca/?stardates/

Package: matrixgl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Matrixgl without xscreensaver
