Source: stardates
Section: games
Priority: extra
Maintainer: Yves Fischer <yvesf-debian@xapek.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://starchive.cs.umanitoba.ca/?stardates/

Package: stardates
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Stardates is a C program that will manipulate dates in various
 formats.  It can display the current date, or a date specified in one of five
 formats.  It can display dates in any of these five formats.  The date formats
 supported are stardates (of course), the Julian, Gregorian and Quadcent
 calendars, and the traditional Unix form of date specification. (From original README)
